h3{
    font-size: 30px;
    color:rgb(128, 79, 0);
}
#div1{
    color:red;
    font-size: 30px;
    text-align: center;
}
#div2{
    font-size: 20px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
hr{
    color:black;
}
img{
    margin-right: 100px;
    width: 350px;
    height: 250px;
    float:right;
}